<h1>Change movie information</h1>

<%= render 'form', my_movie_collection: @my_movie_collection %>
</br>
<div class="d-grid gap-2 col-12 mx-auto">
<%= link_to 'Show', @my_movie_collection, class:"btn btn-warning" %>
<%= link_to 'Back', my_movie_collections_path, class:"btn btn-secondary" %>
</div>