<h1>Editing Watchlist</h1>

<%= render 'form', watchlist: @watchlist %>

<td><button type="button" class="btn btn-info"><%= link_to 'Show', @watchlist %></button></td>
<td><button type="button" class="btn btn-warning"><%= link_to 'Back', watchlists_path %></button></td>